body{
    background-image: 
    /* url(fall.jpg) */
     linear-gradient(to bottom right,yellow, rgb(10,10,200) )
    

    /* background-image: linear-gradient( */
        
}
.test {
    color :red;
    background-color: black;
}